[Unit]
Description=Redshift

[Service]
ExecStart=/usr/bin/redshift-gtk -l 39.2904:-76.6122
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
