[Unit]
Description=Xidlehook

[Service]
ExecStart=/usr/bin/xidlehook --not-when-fullscreen --not-when-audio --timer 420 'screensaver' '' --timer 180 'light-locker-command -l' ''
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
