* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body
{
  /*background: linear-gradient(270deg, #4bd3ff, #ff8585, #8598ff);*/
  background: #2E3440;
	background-size: 600% 600%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


#login-background
{
	background-image:url(/usr/share/backgrounds/background.jpg);
	background-size:100%;
    background-repeat:no-repeat;
    background-color:black;
    background-position:center top;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
#wrapper
{
	z-index:1;
	margin:auto;
}

#clock-box
{
	text-align:center;
	background-color:rgb(67,76,94);
	border-radius:4px;
	//box-shadow: 0 0 100px 5px rgba(0,0,0,0.2);
}

#time-label
{
	font-size:16px;
	font-family:"FiraCode Nerd Font";
	color: #ECEFF4;
}

#login-box
{
	text-align:center;
	background-color:rgb(46, 52, 64);
	width:300px;
	height:385px;
	margin:100px auto;
	border-radius:8px;
    border-color: #3b4252;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.45);
	//overflow:hidden;
    position: absolute;
    left: 13%;
    bottom: 38%;
}

#login-picture
{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	border-radius:100%;
    border-color: #81a1c1;
    border-style: solid;
    border-width: 2px;
	margin-top:40px;
	height:7em;
	-webkit-transition:opacity .5s ease-in-out;
}

#login-response
{
	width:100%;
	margin-top:20px;
	font-family:"FiraCode Nerd Font";
	font-size: 16px;
	color:#BF616A;
	/*
	Error
	color:#FF1919;
	*/
}

#login-form
{
	margin:auto;
	margin-right:30px;
	width:240px;
}

#login-name
{
	-webkit-appearance: none;
	margin-top:5px;
	background-color: rgb(46, 52, 64);
	border:0.75px solid #88C0D0;
	width:100%;
	height:40px;
	border-radius:2px;
	padding:5px 5px 10px 10px;
	font-size:16px;
	font-family:"FiraCode Nerd Font";
	color: #ECEFF4;
	display:none;
}

#last,
#next
{
	color:#E5E9F0;
	font-family:"buttons";
}

#last:hover,
#next:hover
{
	cursor:pointer;
}

#last
{
	position:relative;
	top:10px;
	right:135px;
	left:-20px;
	width:12px;
	color:#E5E9F0;
}

#container
{
	margin-top:-20px;
	width:99.5%;
	overflow:hidden;
	border:1px solid #88C0D0;
	border-radius:10px;
}


#name
{
    margin-left: -31px;
    text-align: left;
    width: 200%;
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    color: #ECEFF4;
    /*margin-bottom: 13px;*/
    border-spacing: 31px 0px;
    -webkit-transition:margin .8s ease-in-out;
    text-align:center;
    background-color: rgb(46, 52, 64);
}

#name div
{
	display: table-cell;
  	padding: 6px 5px 10px 5px;
  	min-width: 225px;
  	max-width: 225px;
  	/* margin: 100px; */
  	/* height: 100px; */
}

#next
{
	position:relative;
	top:-30px;
	left:250px;
	width:12px;
	text-align:left;
}

#login-name:focus
{
	background-color:white;
	border:0.5px solid #88C0D0;
}

#login-password
{
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
	position:relative;
	top:-15px;
	background-color: #3b4252;
	padding:5px 5px 10px 10px;
	width:93.5%;
	height:20px;
        color: #ECEFF4;
	font-size:15px;
	border:0px solid #3b4252;
	border-radius:10px;
	text-align: center;
}

#login-password::-webkit-input-placeholder {
    font-family: 'FiraCode Nerd Font';
}

#login-password:-ms-input-placeholder {
    font-family: 'FiraCode Nerd Font';
}

#login-password:-moz-placeholder {
    font-family: 'FiraCode Nerd Font';
}

#login-password::-moz-placeholder {
    font-family: 'FiraCode Nerd Font';
}

#login-name:hover,
#login-password:hover
{
	border:0px solid #88c0d0;
	outline:none;
}

#login-name:focus,
#login-name:active,
#login-password:focus,
#login-password:active
{
	border: 0px solid #88c0d0;
	box-shadow: inset 0 1px 2px rgba(136, 192, 208, 0.2);
	outline: none;
}

#login-button
{
	position:relative;
	top:-15px;
	outline:0;
	font-family: 'FiraCode Nerd Font';
	font-size:15px;
	margin-top:10px;
	/*background-color:#ffa1a1; */
	color: #ECEFF4;
	border:0px solid #4C566A;
	padding:10px;
	border-radius:5px;
	width:100%;
	height:40px;
	background: linear-gradient(to right, #88C0D0, #5E81AC);
        /*background-size: auto auto; */
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	background-size: 600% 600%;
}

#login-button:hover
{
	cursor:pointer;
	/* border:1px solid #7f7f7f; */
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#login-button:active
{
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}

#login-bar
{
	background-color: rgb(46, 52, 64);
	bottom: 10px;
	position: absolute;
	padding: 10px 25px;
	width: auto;
	border-radius: 8px;
    border-color: #3b4252;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.45);
	transform: translate(-50%, -50%);
	left: 91%;
    //bottom: 92%;
	/*top: 50%;*/
}

#power
{
	padding: 5px;
	width:40px;
	padding: auto;
	margin:auto;
	color:white;
	background-color:transparent;
	border: none;
	padding-bottom:0px;
}

#power:hover
{
	cursor:pointer;
	text-shadow:0 0 3px #FFFFFF;
}


/* BG B U B B L E S
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
*/
