/**
 * @name [Nord] Main
 * @author SensualPudding
 * @version 1
 * @description Nord theme inspired by Dribblish for Spicetify and built on top of the ClearVision theme
 * @invite 2fKpjAR
 * @source https://github.com/SensualPudd/Discord-Nord-theme
*/

@import url('https://clearvision.gitlab.io/v6/main.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');


:root {
  --main-color: #81A1C1;
  --hover-color: #2e3440;
  --success-color: #a3be8c;
  --danger-color: #bf616a;
  --url-color: #d8dee9;
  --background-image: url(https://i.imgur.com/WWCU4QW.png);
  --background-shading: 0%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.0);
  --user-popout-image: var(--background-image);
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: var(--background-image);
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #d8dee9;
  --channel-color: rgba(216,222,233,0.64);
  --muted-color: rgba(216,222,233,0.25);
  --online-color: #a3be8c;
  --idle-color: #ebcb8b;
  --dnd-color: #bf616a;
  --streaming-color: #b48ead;
  --offline-color: #4c566a;
  --main-font: 'Whitney';
  --code-font: 'Consolas';
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --channels-width: 220px;
  --members-width: 240px;
  --server-icon-size: 40px;
  --server-icon-spacing: 8px;
  --server-container-padding: 16px;
  --rs-small-spacing: 1px;
  --rs-large-spacing: 3px;
  --rs-width: 2.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #a3be8c;
  --rs-idle-color: #ebcb8b;
  --rs-dnd-color: #bf616a;
  --rs-offline-color: #4c566a;
  --rs-streaming-color: #b48ead;
  --rs-invisible-color: #747f8d;
  --iconColor:#d8dee9;
}

/*hides close minimize maximize buttons*/
.typeWindows-1za-n7>.winButton-iRh8-Z{ 
    display: none;
}

/*hides the top bar*/
.typeWindows-1za-n7 {
    height: 0px;
    padding: 0px;
}
