/**
 * @name [Nord] Members section
 * @author SensualPudding
 * @version 1
 * @description Members area that is only shown when hovered
 * @source https://github.com/SensualPudd/Discord-Nord-theme
*/


.membersWrap-2h-GB4 {
    transform: translate(230px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.membersWrap-2h-GB4:hover {
    transform: translate(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/*hides the role line*/
.members-1998pB .membersGroup-v9BXpm:before,
.members-1998pB .membersGroup-v9BXpm:after{
    display: none;
}
