/**
 * @name [Nord] Statusbar
 * @author SensualPudding
 * @version 1
 * @description minimalistic status bar
 * @source https://github.com/SensualPudd/Discord-Nord-theme
*/

/*
Start status colors
*/
#status-picker .separator-2I32lJ, #status-picker .description-2L932D {
  display: none;
}
#status-picker .focused-3afm-j {
  background: linear-gradient(45deg, #8c5b83, #B48EAD);
}
#status-picker .focused-3afm-j#status-picker-online {
  background: linear-gradient(45deg, #708b58, #a3be8c);
}
#status-picker .focused-3afm-j#status-picker-idle {
  background: linear-gradient(45deg, #b5a25c, #EBCB8B);
}
#status-picker .focused-3afm-j#status-picker-dnd {
  background: linear-gradient(45deg, #993a43, #BF616A);
}
#status-picker .focused-3afm-j#status-picker-invisible {
  background: linear-gradient(45deg, #434C5E, #4C566A);
}
/*
End status colors
*/

/*
Start horizontal status bar
*/
#status-picker .separator-2I32lJ:nth-child(2),
#status-picker .item-1tOPte:not(#status-picker-custom-status) .description-2L932D,
#status-picker .item-1tOPte:not(#status-picker-custom-status) .status-1fhblQ {
  display: none;
}
#status-picker .item-1tOPte:not(#status-picker-custom-status) {
  display: inline-flex;
  width: 25%;
}
#status-picker .item-1tOPte:not(#status-picker-custom-status) .statusItem-33LqPf {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
}
/*
End horizontal status bar
*/
