/**
 * @name [Nord] Server icons
 * @author SensualPudding
 * @version 1
 * @description All things for customizing server icons
 * @source https://github.com/SensualPudd/Discord-Nord-theme
*/


/*

This is just a showcase on how you would change server icons if you want to
Don't use it in my showcase

*/


/* Image of Discord top left icon */
.homeIcon-tEMBK1 {
    background: url('https://i.imgur.com/0uxfcnp.png') center/contain no-repeat;
}

.homeIcon-tEMBK1:hover {
    background: url('https://i.imgur.com/MbnMtLS.png') center/contain no-repeat;
}



/*clear vision icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/673821978414678028/"] {
    content: url(https://i.imgur.com/SsRjxRh.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/673821978414678028/"] {
    content: url(https://i.imgur.com/nxztZB9.png);
    background: #424f64;
}



/*clear vision icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/212324635356692500/"] {
    content: url(https://i.imgur.com/KOKR3Hv.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/212324635356692500/"] {
    content: url(https://i.imgur.com/gNGA9tM.png);
    background: #424f64;
}



/*Speedrun.com icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/124483701970173952/"] {
    content: url(https://i.imgur.com/3bgvHlg.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/124483701970173952/"] {
    content: url(https://i.imgur.com/0y1VG0u.png);
    background: #424f64;
}



/*easy speezy icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/142376308725383168/"] {
    content: url(https://i.imgur.com/URRWVwE.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/142376308725383168/"] {
    content: url(https://i.imgur.com/mT0tzLX.png);
    background: #424f64;
}



/*Better discord 2 icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/280806472928198656/"] {
    content: url(https://i.imgur.com/6pow5Z6.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/280806472928198656/"] {
    content: url(https://i.imgur.com/3qMfyHd.png);
    background: #424f64;
}



/*Cyberpunk 2077 icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/428823240824061954/"] {
    content: url(https://i.imgur.com/TW9aVCy.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/428823240824061954/"] {
    content: url(https://i.imgur.com/StO2ak2.png);
    background: #424f64;
}



/*TASvideos icon*/
.wrapper-1BJsBx .icon-27yU2q[src*="icons/280806848909541376/"] {
    content: url(https://i.imgur.com/ABIkU7q.png);
    background: transparent;
}

.wrapper-1BJsBx:hover .icon-27yU2q[src*="icons/280806848909541376/"] {
    content: url(https://i.imgur.com/IVcWJER.png);
    background: #424f64;
}
