/**
 * @name [Nord] Icons
 * @author SensualPudding
 * @version 1
 * @description All customazations regarding all the icons
 * @source https://github.com/SensualPudd/Discord-Nord-theme
*/

/*icon Color*/
.toolbar-1t6TWx path{
    fill: var(--iconColor);
}

/*
Start searchbar
*/

.search-2oPWTC .searchBar-3dMhjb, 
.libraryFilter-31ZUa2, 
.browseSearch-e9jF-f {
    width: 28px;
    height: 28px;
    background: #2e3440;
    margin: -8px;
}


/*hover searchbar to extend*/
.searchBar-3dMhjb:hover {
    width:160px;
}

/*
End searchbar
*/


/*
Start hides elements
*/

/*Bell button and help button in the top right*/
.toolbar-1t6TWx .iconWrapper-2OrFZ1:first-child,
/*members list toggle in the top right*/
.toolbar-1t6TWx.da-toolbar > div:nth-child(3),
/*Gift button in textinput box*/
.buttonContainer-28fw2U:not(#sendAudioButtons):not(.send-button) .button-3AYNKb,
/*GIF button in textinput box*/
.buttons-3JBrkn > .button-38aScr > :not(.translateButton-DhP9x8){
    display: none;
}

/*
End hides elements
*/

/*
Start no glow
*/
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE,
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.button-14-BFJ,
.toolbar-1t6TWx .iconWrapper-2OrFZ1>svg:not(.icon-22AiRD),
.icon-3cZ1F_{
  filter: none !important;
  text-shadow: none !important;
  -webkit-filter: none;
}
/*
End no glow
*/

/*makes the background transparent of the settings etc. buttons beside your username*/
.container-3baos1>.flex-1O1GKY,
.container-1giJp5>.flex-1O1GKY{
    background: transparent!important;
}
