/* Confirm Dialog */

@import "styles/colors.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"FiraCode Nerd Font 12";
}

window {
    width:      			310px;
    padding:    			25px;
    border:					3px;
    border-radius:          12px;
    border-color:           #3b4252;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@border;
}
